<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sedodream.Powershell.Publish.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sedodream.Powershell.Publish.Properties.Settings>
            <setting name="TransformXmlTaskName" serializeAs="String">
                <value>Microsoft.Web.Publishing.Tasks.TransformXml</value>
            </setting>
            <setting name="TransformAssemblyPath" serializeAs="String">
                <value />
            </setting>
        </Sedodream.Powershell.Publish.Properties.Settings>
    </applicationSettings>
</configuration>